<div data-role="page" data-control-title="Contact Me" id="contact">
  <div data-theme="a" data-role="header">
        <span class="ui-title"> </span>
           <div >
       <img src="images/logo.jpg" alt="image">
           </div>
      <div data-role="navbar" data-iconpos="top">
     <ul>
        <li><a href="#home" data-transition="flip" data-theme="" data-icon="home">Home</a></li>
        <li><a href="#about" data-transition="flip" data-theme="" data-icon="star">About Me</a></li>
        <li><a href="#project" data-transition="flip" data-theme="" data-icon="check">Projects</a></li>
        <li><a href="#contact" data-transition="flip" data-theme="" data-icon="info">Contanct Me</a></li>
     </ul>
  </div>
  </div>
  
 <div data-role="content">
      <form>
            <div data-role="fieldcontain" data-controltype="textinput">
                <input name="" id="textinput2" placeholder="Enter Your Name" value=""
                type="text">
            </div>
            <div data-role="fieldcontain" data-controltype="textinput">
                <input name="" id="textinput3" placeholder="Enter Your Phone" value=""
                type="tel">
            </div>
            <div data-role="fieldcontain" data-controltype="textinput">
                <input name="" id="textinput4" placeholder="Enter Your Email Address"
                value="" type="email">
            </div>
            <div data-role="fieldcontain" data-controltype="textarea">
                <textarea name="" id="textarea1" placeholder="Enter Your Message"></textarea>
            </div>
            <input type="submit" data-icon="forward" data-iconpos="left" value="Submit">
        </form>
 </div>