<div id="top"></div>
    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li>
                        <a href="/"><img src="images/logo.jpg"/></a>  <!-- Company Logo -->
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="/">
                        <span>Menu</span>    <!-- Menu Option -->
                    </a>
                </li>
            </ul>

<section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul id="nav" class="right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="/about">About Me</a>
                    </li>
                    
                    <li>
                        <a href="/contact">Contact Me</a>
                    </li>
                     <li class="social"> <a href="https://www.facebook.com/vips2010"><i class="fi-social-facebook"></i></a></li>
                    <li class="social"> <a href="https://twitter.com/VipulSave1989"><i class="fi-social-twitter"></i></a></li>
                    <li class="social"> <a href="https://www.linkedin.com/in/vipulasave"><i class="fi-social-linkedin"></i></a></li>
                    <!-- Social Icons -->
                </ul>

            </section>
        </nav>

        
<div><p><br><br><b>Please Enter Your Contact Info</b></p></div>        
  
 <div class="contact-background" data-role="content">
      
     <form>
     
         
         <div data-role="fieldcontain" data-controltype="textinput">
                <input name="" id="textinput2" placeholder="Enter Your Name" value=""
                type="text">
            </div>
            <div data-role="fieldcontain" data-controltype="textinput">
                <input name="" id="textinput3" placeholder="Enter Your Phone" value=""
                type="tel">
            </div>
            <div data-role="fieldcontain" data-controltype="textinput">
                <input name="" id="textinput4" placeholder="Enter Your Email Address"
                value="" type="email">
            </div>
            <div data-role="fieldcontain" data-controltype="textarea">
                <textarea name="" id="textarea1" placeholder="Enter Your Message"></textarea>
            </div>
            <input type="submit" data-icon="forward" data-iconpos="left" value="Submit">
        </form>
 </div>