<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vipul Save's Portfolio</title>
    <link rel="stylesheet" href="stylesheets/css/foundation.css" />
    <link rel="stylesheet" href="stylesheets/css/custom.css" />  <!-- User Creater Css file -->
    <link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
    <script src="javascripts/js/vendor/modernizr.js"></script>
    <script src="javascripts/js/detectmobilebrowser.js"></script>

</head>

<body>
<%     if(title=="Home") { %>
    <%     include partials/home.ejs %>
    <%     } %>
    
    <%     if(title=="About Me") { %>
    <%     include partials/about.ejs %>
    <%     } %>
    
    <%     if(title=="Contact Me") { %>
    <%     include partials/contact.ejs %>
    <%     } %>
    
    <% include partials/footer.ejs %>

    <script src="javascripts/js/vendor/jquery.js"></script>
    <script src="javascripts/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script>
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
</body>

</html>
